# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGci...

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=dhammadha-fonts
R2_PUBLIC_URL=

# Resend (email)
RESEND_API_KEY=re_...
NEXT_PUBLIC_ADMIN_EMAIL=your@email.com

# Cloudflare Pages Deploy Hook
NEXT_PUBLIC_CF_DEPLOY_HOOK=https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/...
